<template>
  <div class="hello">
    <ul data-aos="fade-right" class="social-links">
      <li class="gitlab">
        <a target="_blank" href="https://gitlab.com/chetanraj">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gitlab"><path d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z"></path></svg>
        </a>
      </li>
      <li class="github">
        <a target="_blank" href="https://github.com/chetanraj">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
        </a>
      </li>
      <li class="instagram">
        <a target="_blank" href="https://www.instagram.com/thecjstream">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.5" y2="6.5"></line></svg>
        </a>
      </li>
      <li class="twitter">
        <a target="_blank" href="https://twitter.com/chetan_raj">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
        </a>
      </li>
    </ul>
    <div data-aos="fade-zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out">
      <h1>Chetan Raj</h1>
      <h4>music, movie, gadgets, iron man, batman and Web lover!</h4>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Website'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .hello {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  ul {
    position: absolute;
    top: 1em;
    left: 1em;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin-right: 1em;
    float: left;
  }

  ul li a {
    color: #fff;
    position: relative;
  }

  ul li a:hover::before {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    content: '';
    border-radius: 50%;
    bottom: -.4em;
    left: 39%;
  }

  @media all and (max-width: 600px) {
    li {
      float: none;
      margin-bottom: .7em;
    }
  }

</style>
